@page
@model IndexModel
@{
    ViewData["Title"] = "Bread Tourneys - Granblue";
}

<div class="text-center">
    <h1 class="display-4">Bread Tourneys - Granblue</h1>
    <p1>Play Tournament</p1>
    <button class="btn btn-primary">Create Tournament</button>
    
</div>